body{
background:#0096A6;
position:fixed;
bottom:0px;
top:0px;
left:0px;
right:0px;
}


.carousel-caption{
margin-bottom:30px;
}

.splash-image{
 width:150px;
 height:400px;
}

#row-carousel{
 width:90%;
 text-align:center;
 margin:auto;
 margin-top:10%;
}

#row-btn{
margin:5%;
text-align:center;
}



h2{
color:#f2ae44;

}

.glyphicon-chevron-right, .glyphicon-chevron-left{
color:#0096A6;
}







