<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.is3261.splurge" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Splurge" >
        <activity
            android:name=".activity.SplashScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.FrontPageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_front_page"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".activity.SignupActivity"
            android:label="@string/title_activity_signup" >
        </activity>
        <activity
            android:name=".activity.deprecated.MenuActivity"
            android:theme="@style/Splurge.StatusBarOverlay" >
        </activity>
        <activity
            android:name=".activity.deprecated.PlanTripActivity"
            android:label="@string/title_activity_plan_trip"
            android:theme="@style/Splurge" >
        </activity>
        <activity
            android:name=".db.RecordTripActivity"
            android:label="@string/title_activity_record_trip"
            android:theme="@style/Splurge" >
        </activity>
        <activity
            android:name=".activity.deprecated.LoanActivity"
            android:label="@string/title_activity_loan"
            android:theme="@style/Splurge" >
        </activity>
        <activity
            android:name=".activity.deprecated.DebtActivity"
            android:label="@string/title_activity_debt"
            android:theme="@style/Splurge" >
        </activity>
        <activity
            android:name=".activity.deprecated.MealBillsActivity"
            android:label="@string/title_activity_meal_bills"
            android:theme="@style/Splurge" >
        </activity>
        <activity
            android:name=".activity.TripActivity"
            android:label="@string/title_activity_trip"
            android:theme="@style/Splurge.TranslucentStatusBar" >
        </activity>
        <activity
            android:name=".activity.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/Splurge.TranslucentStatusBar" >
        </activity>
        <activity android:name=".activity.AddFriendActivity" >
        </activity>
        <activity
            android:name=".activity.SpiltMealActivity"
            android:label="@string/title_activity_spilt_meal"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.DebtActivity"
            android:label="@string/title_activity_debt"
            android:theme="@style/Splurge.TranslucentStatusBar" >
        </activity>
        <activity
            android:name=".activity.LoanActivity"
            android:label="@string/title_activity_loan"
            android:theme="@style/Splurge.TranslucentStatusBar" >
        </activity>

        <activity
            android:name=".activity.CreateTripActivity"
            android:label="@string/title_activity_create_trip"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
